@font-face {
	font-family: 'museo';
	src: url('museo_sans_cyrl_500.woff2') format('woff2'),
		url('museo_sans_cyrl_500.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'museo';
	src: url('museo_sans_cyrl_700.woff2') format('woff2'),
		url('museo_sans_cyrl_700.woff') format('woff');
	font-weight: bold;
	font-style: bold;
}
