//<ОСНОВНОЙ БЛОК>====================================================================================================
.title {
	font-weight: 600;
	font-size: 40px;
	line-height: 1.2;
	color: #1a1a1a;
	&._black {
		color: #1a1a1a;
	}
	&._white {
		color: #ffffff;
	}
	&._centered {
		text-align: center;
	}
	@media screen and (max-width: $md4 + px) {
		font-size: 24px;
		line-height: 29px;
	}
}

.btn {
	position: relative;
	overflow: hidden;
	width: 160px;
	min-height: 48px;
	background-color: #ffffff;
	border-radius: 12px;
	font-weight: 600;
	font-size: 15px;
	line-height: 1.2;
	text-align: center;
	color: #1a1a1a;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease-in-out 0s;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	z-index: 1;
	span {
		svg {
			fill: #1a1a1a;
			transition: all 0.3s ease-in-out 0s;
		}
	}
	&:before {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		bottom: 100%;
		left: 0;
		z-index: -1;
		transition: transform 0.3s ease-in-out 0s;
		transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		background: #8faedb;
	}
	&:after {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		bottom: 100%;
		left: 0;
		z-index: -1;
		transition: transform 0.3s ease-in-out 0s;
		transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		background: #5992e8;
	}
	&._green {
		background-color: #36ba5f;
		color: #ffffff;
		span {
			svg {
				fill: #ffffff;
			}
		}
	}
	&:hover {
		color: #ffffff;
		&:before {
			transform: translate3d(0, 100%, 0);
		}
		&:after {
			transform: translate3d(0, 100%, 0);
			transition-delay: 0.175s;
		}
		span {
			svg {
				fill: #ffffff;
				transition: all 0.3s ease-in-out 0s;
			}
		}
	}
	&:active {
		top: 2px;
	}
}

.btn-link {
	width: 56px;
	height: 56px;
	background: #f9f9f9;
	border-radius: 13.3311px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease-in-out 0s;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	span {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		z-index: -1;
		transform: scale3d(1, 1, 1);
	}
	svg {
		fill: #36ba5f;
		transition: all 0.3s ease-in-out 0s;
	}
	&:hover {
		span {
			box-shadow: inset 0 0 0 35px #36ba5f;
			transform: scale3d(0.9, 0.9, 1);
			transition: all 0.3s ease-in-out 0s;
		}
		svg {
			fill: #ffffff;
		}
	}
}

.icon {
	width: 16px;
	height: 16px;
	margin-right: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
.row:after {
	display: block;
	content: '';
	clear: both;
}
.rub:after {
	content: '₽';
}
//====================================================================================================
%noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
//====================================================================================================
ol.counter {
	list-style-type: none;
	counter-reset: item;
	li {
		position: relative;
		padding: 0px 0px 0px 45px;
		&:before {
			counter-increment: item;
			content: counter(item);
			position: absolute;
			left: 0;
			top: 0;
			color: #818181;
			font-size: 14px;
			font-weight: 700;
			text-align: center;
			line-height: 26px;
			border-radius: 50%;
			width: 28px;
			height: 28px;
			border: 1px solid #4274bb;
		}
	}
}
//====================================================================================================
.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.es {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
//====================================================================================================
.table {
	display: table;
	font-size: 0;
	width: 100%;
	//table-layout: fixed;
}
.trow {
	display: table-row;
}
.cell {
	display: table-cell;
	&.full {
		width: 100%;
	}
}
//====================================================================================================
._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
body.ie {
	._ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	._ibg img {
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}
//====================================================================================================
.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.videobg {
	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}
}
//====================================================================================================
.moretext {
	overflow: hidden;
}
.moretext__more {
	cursor: pointer;
	span {
		font-style: normal;
		&:first-child {
			display: block;
		}
		&:last-child {
			display: none;
		}
	}
	&.active {
		span {
			font-style: normal;
			&:first-child {
				display: none;
			}
			&:last-child {
				display: block;
			}
		}
	}
}
//====================================================================================================
%graystyle {
	transition: all 0.3s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}
%graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}
//====================================================================================================
#map {
	background: url('../img/icons/loading.gif') center / 50px no-repeat;
}
//====================================================================================================
.slick-slider {
	position: relative;
	.slick-track,
	.slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.slick-list {
		position: relative;
		overflow: hidden;
		width: 100%;
	}
	.slick-track {
		position: relative;
		width: 100%;
		display: flex;
	}
	.slick-slide {
		position: relative;
	}
	.slick-arrow {
		&.slick-prev {
		}
		&.slick-next {
		}
	}
	.slick-dots {
		li {
			button {
			}
			&.slick-active {
				button {
				}
			}
		}
	}
}
//</ГОТОВЫЕ КЛАССЫ>====================================================================================================
